In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_data1=pd.read_csv('orders.csv')
raw_data1

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [3]:
raw_data=pd.read_csv('order_items.csv')
raw_data

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [4]:
selected_seller_id='48436dade18ac8b2bce089ec2a041202'
seller_orders=raw_data.loc[raw_data['seller_id']==selected_seller_id]
seller_orders

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
660,0188777fe321843a18be24a6e9aa1e53,1,436c8d57ff8d4aa254318e9bd9b48c83,48436dade18ac8b2bce089ec2a041202,2017-07-31 14:35:11,55.9,9.94
669,0191bbb5166d4b9a68df11797d5acfa9,1,ec02a5d380128f7a188e9ce8f3ddd832,48436dade18ac8b2bce089ec2a041202,2017-08-16 12:30:15,132.9,20.17
1295,03054d8a8eefc2981cfad06f58e27979,1,3e31fd1419cc4cd6adad1925e72e3a03,48436dade18ac8b2bce089ec2a041202,2017-10-09 10:35:11,58.9,15.16
5376,0c325ea6925de749e1420be0cf43587c,1,3a135477bf41350a0b1d8afdf616d446,48436dade18ac8b2bce089ec2a041202,2017-07-06 15:43:50,139.9,16.74
...,...,...,...,...,...,...,...
106715,f28b59f3a9d27b5a7ea86d0ede1b99d0,1,54e5939fcd9ae70ad0f59f612d6d29bd,48436dade18ac8b2bce089ec2a041202,2017-10-03 12:49:47,42.9,13.23
109487,f8da7d096b125f74ad5b784140c294c7,1,d65b6607952f9e0d705b1cbdc92ac027,48436dade18ac8b2bce089ec2a041202,2017-10-20 18:45:43,46.9,16.11
109908,f9c50aff44ed91808d5b511bd49106ec,1,3a135477bf41350a0b1d8afdf616d446,48436dade18ac8b2bce089ec2a041202,2017-08-23 15:50:16,149.9,10.46
110207,fa68c8eaee429c95ac88e1034d583057,1,9165e7a5f9ef266f66ca19a816cdc657,48436dade18ac8b2bce089ec2a041202,2017-09-08 10:25:16,132.9,14.33
110882,fbf096edf8034d915770443bb21bfad4,1,2423252b2432f1803e4f29e0974c6cf7,48436dade18ac8b2bce089ec2a041202,2017-04-24 21:10:14,139.9,21.61

In [5]:
seller_orders_new=pd.DataFrame()
seller_orders_new['Orders']=seller_orders['order_id']
seller_orders_new

                                  Orders
0       00010242fe8c5a6d1ba2dd792cb16214
660     0188777fe321843a18be24a6e9aa1e53
669     0191bbb5166d4b9a68df11797d5acfa9
1295    03054d8a8eefc2981cfad06f58e27979
5376    0c325ea6925de749e1420be0cf43587c
...                                  ...
106715  f28b59f3a9d27b5a7ea86d0ede1b99d0
109487  f8da7d096b125f74ad5b784140c294c7
109908  f9c50aff44ed91808d5b511bd49106ec
110207  fa68c8eaee429c95ac88e1034d583057
110882  fbf096edf8034d915770443bb21bfad4

[151 rows x 1 columns]

In [6]:
sellers_dates=pd.DataFrame(columns=[['delivered','estimated']])
for ind in raw_data1.index:
    if(ind in seller_orders.index):
        sellers_dates.loc[ len(sellers_dates.index )] = [raw_data1['order_delivered_customer_date'][ind],raw_data1['order_estimated_delivery_date'][ind]]
sellers_dates

               delivered            estimated
0    2017-10-10 21:25:13  2017-10-18 00:00:00
1    2018-04-24 14:31:22  2018-05-09 00:00:00
2    2017-07-25 19:42:50  2017-07-27 00:00:00
3    2018-07-04 20:32:36  2018-07-19 00:00:00
4    2018-02-16 22:18:58  2018-02-16 00:00:00
..                   ...                  ...
131  2017-07-06 17:13:30  2017-07-18 00:00:00
132  2018-05-07 17:03:43  2018-05-11 00:00:00
133  2017-11-07 21:45:33  2017-11-28 00:00:00
134  2018-04-16 20:16:26  2018-05-07 00:00:00
135  2018-01-13 17:57:37  2018-01-24 00:00:00

[136 rows x 2 columns]

In [33]:
def days_between(d1, d2):
    if(str(d1)=='nan' or str(d2)=='nan'):return 0
    d1 = datetime.strptime(str(d1), "%Y-%m-%d %H:%M:%S")
    d2 = datetime.strptime(str(d2), "%Y-%m-%d %H:%M:%S")
    return abs((d2 - d1).days)

In [36]:
from datetime import datetime
#arr=sellers_dates['delivered']-sellers_dates['estimated']
#delta=sellers_dates['delivered'][0]-sellers_dates['estimated'][0]
delta=[]
for ind in sellers_dates.index:
    delta.append(days_between(sellers_dates.iloc[ind:ind+1]['delivered'].values[0][0],sellers_dates.iloc[ind:ind+1]['estimated'].values[0][0]))
delta

[7,
 14,
 1,
 14,
 1,
 0,
 1,
 19,
 3,
 8,
 36,
 13,
 0,
 10,
 3,
 0,
 3,
 13,
 23,
 6,
 3,
 18,
 19,
 13,
 15,
 21,
 10,
 5,
 15,
 10,
 12,
 0,
 3,
 7,
 22,
 0,
 12,
 14,
 7,
 4,
 13,
 6,
 9,
 16,
 15,
 14,
 4,
 0,
 0,
 12,
 12,
 14,
 13,
 6,
 8,
 1,
 17,
 16,
 10,
 6,
 17,
 7,
 11,
 7,
 4,
 8,
 1,
 16,
 11,
 14,
 17,
 11,
 14,
 8,
 9,
 11,
 23,
 15,
 25,
 10,
 14,
 11,
 10,
 6,
 6,
 18,
 3,
 0,
 9,
 4,
 9,
 7,
 12,
 12,
 16,
 10,
 20,
 0,
 10,
 8,
 13,
 22,
 10,
 22,
 22,
 4,
 11,
 15,
 24,
 12,
 31,
 10,
 4,
 15,
 23,
 8,
 0,
 2,
 17,
 6,
 18,
 12,
 14,
 13,
 10,
 10,
 7,
 18,
 5,
 6,
 13,
 11,
 3,
 20,
 20,
 10]

In [48]:
sum=0
for i in delta:
    sum+=i
forecasted_amount_of_days=sum/len(delta)
forecasted_amount_of_days
round(forecasted_amount_of_days,0)

11.0